@use "sass:color";

$sort-buton-color: #dd3a3a;
$sort-buton-color-hover: color.adjust($sort-buton-color, $lightness: -10%);
$numbers-size: 30px;


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #222;
}

.logo-container {
    width: 100%;
    .logo-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
}

.numbers-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .number {
        height: $numbers-size;
        width: $numbers-size;
        display: inline-table;
        border-radius: $numbers-size;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at 30% 30%, #ffffff, #7c7b7b);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
        &.picked {
            background: radial-gradient(circle at 30% 30%, $sort-buton-color, $sort-buton-color-hover);
            animation: popIn 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }
        p {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: $numbers-size;
            text-align: center;
        }
    }
}

.button-container {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    .pick-button {
        background-color: $sort-buton-color;
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
        width: 175px;
        height: 50px;
        border: none;
        &:hover{
            background-color: $sort-buton-color-hover;
            cursor: pointer;
        }
    }
}

.number-picked {
    margin: 0 auto;
    p {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 50px;
        margin: 0;
    }
}


@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-180deg);
    }
    60% {
        transform: scale(1.1) rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}