@use "sass:color";

$sort-buton-color: #dd3a3a;
$sort-buton-color-hover: color.adjust($sort-buton-color, $lightness: -10%);
$numbers-size: 30px;
$active-number-size: 100px;
$active-number-size-mobile: 80px;


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #222;
}

.logo-container {
    width: 100%;
    .logo-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
}

.numbers-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .number {
        height: $numbers-size;
        width: $numbers-size;
        display: inline-table;
        border-radius: $numbers-size;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at 30% 30%, #ffffff, #7c7b7b);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
        opacity: 10%;
        &.picked {
            opacity: 100%;
            animation: popIn 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }
        p {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: $numbers-size;
            text-align: center;
        }
    }
}

.button-container {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    .pick-button {
        padding: 17px 40px;
        border-radius: 10px;
        border: 0;
        background-color: $sort-buton-color;
        letter-spacing: 1.5px;
        font-size: 24px;
        font-weight: bold;
        
        transition: all 0.3s ease;
        box-shadow: $sort-buton-color-hover 0px 10px 0px 0px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        &:hover{
            box-shadow: $sort-buton-color-hover 0px 7px 0px 0px;
        }
        &:active {
             background-color: $sort-buton-color;
            /*50, 168, 80*/
            box-shadow: $sort-buton-color-hover 0px 0px 0px 0px;
            transform: translateY(5px);
            transition: 200ms;
        }
    }
}

.number-picked {
    margin: 0 auto;

    .tutorial-message {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 50px;
        margin: 0;
    }

    .actual-number {
        height: $active-number-size;
        width: $active-number-size;
        display: none;
        border-radius: $active-number-size;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: bold;
        line-height: 30px;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at 30% 30%, #ffffff, #7c7b7b);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
        &.active {
            display: flex;
            animation: bounce2 2s ease;
        }
    } 
}


@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-180deg);
    }
    60% {
        transform: scale(1.1) rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@media screen and (max-width: 768px) {

    body {
        height: fit-content;
        justify-content: flex-start;
        gap: 20px;
    }

    .logo-container {
        .logo-image {
            width: 50%;
        }
    }

    .numbers-container {
        width: 95%;
        .number {
            margin: 4px;
        }
    }
    .number-picked {
        .tutorial-message {
            font-size: 24px;
            padding: 0 10px;
        }
        .actual-number {
            height: $active-number-size-mobile;
            width: $active-number-size-mobile;
            border-radius: $active-number-size-mobile;
            margin: 20px;
        } 
    }

    .button-container {
        .pick-button {
            width: 80%;
            padding: 15px;
            font-size: 20px;
        }
    }
}